<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">The page you were looking for doesn't exist.</h1>
      <p class="govuk-body">You may have mistyped the address or the page may have moved.</p>
      <p class="govuk-body">If you are the application owner check the logs for more information.</p>
    </div>
  </div>
</main>
